.personal-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.last-job {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}